.about {
    border-color: $background-color-1;
    @include tablet {
        padding: 100px 39px;
        max-width: 768px;
    }
    @include desktop {
        max-width: 1170px;
        padding: 120px 0;
    }

    .about__content-box {
        display: flex;
        flex-direction: column;
        @include tablet {
            flex-direction: row;
            gap: 30px;
        }

        .about__pictures-box {
            display: none;
            @include tablet {
                display: flex;
                flex-direction: column;
                gap: 30px;
            }
            @include desktop {
                flex-direction: row;
            }
        }

        .about__text-content-box {
            display: grid;
            @include desktop {
                width: 470px;
            }
        }

        .about__picture {
            width: 330px;
            height: 235px;
            @include desktop {
                width: 270px;
                height: 445px;
            }
        }
        
        .about__subtitle {
            color: $dark-text-svg-color;
            &::before {
                background-color: $dark-text-svg-color;
            }
        }
        
        .about__title {
            display: inline-block;
            width: 305px;
            @include font($font-Raleway, $dark-text-svg-color, 700, 28px, 1.17, 1px);
            margin-bottom: 20px;
            @include desktop {
                font-size: 42px;
                width: 470px;
            }
        }
        
        .about__text-1 {
            @include font($font-Open-Sans, $text-color-4, 400, 16px, 1.62, 0.2px);
            margin-bottom: 20px;
            @include tablet {
                font-size: 18px;
            }
        }
        
        .about__description {
            @include font($font-Open-Sans, $text-color-4, 400, 14px, 1.86, 0.02);
            margin-bottom: 40px;
        }
        
        .about__button {
            margin-left: 0;
            transition-property: background-color, color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            &:hover,
            &:focus {
                color: $text-color-2;
                background-color: $accent-color-orange;
            }
            @include tablet {
                align-self: flex-end;
            }
        }
    }
}