.about {
    border-color: $background-color-1;

    .about__content-box {
        display: flex;
        flex-direction: column;
        
        .about__subtitle {
            @include font($font-Open-Sans, $dark-text-svg-color, 600, 11px, 1.36, null);
            &::before {
                background-color: $dark-text-svg-color;
            }
        }
        
        .about__title {
            display: inline-block;
            width: 305px;
            @include font($font-Raleway, $dark-text-svg-color, 700, 28px, 1.18, 0.05);
        }
        
        .about__text-1 {
            @include font($font-Open-Sans, $text-color-4, 400, 16px, 1.62, 0.02);
            margin-bottom: 20px;
        }
        
        .about__description {
            @include font($font-Open-Sans, $text-color-4, 400, 14px, 1.86, 0.02);
            margin-bottom: 40px;
        }
        
        .about__button {
            margin-left: 0;
            @include font($font-Open-Sans, $dark-text-svg-color, 600, 12px, 1.33, 0.09);
        }
    }
}