.barbers {
background-color: $background-color-2;
    
    .barbers__content-box {
    }
    
    .barbers__subtitle {
        color: $dark-text-svg-color;
        &::before {
            background-color: $dark-text-svg-color;
        }
    }
    
    .barbers__title {
        color: $dark-text-svg-color;
        font-size: 42px;
        margin-bottom: 44px;
    }
    
    .barbers__person-list {
        text-align: center;
    }
    
    .barbers__person-item {}
    
    .barbers__person-photo {
        margin-bottom: 30px;
    }
    
    .barbers__person-name {
        @include font($font-Open-Sans, $dark-text-svg-color, 400, 18px, 1.36, 0.02);
        margin-bottom: 8px;
    }
    
    .barbers__person-position {
        @include font($font-Open-Sans, $accent-color-orange, 400, 14px, 1.36, 0.02);
        margin-bottom: 30px;
    }
}