.benefits {

    
    .benefits__content-box {

        .benefits__text-content {
            margin-bottom: 44px;
        }

        .benefits__subtitle {
            color: $dark-text-svg-color;
            &::before {
                background-color: $dark-text-svg-color;
            }
        }
        
        .benefits__title {
            color: $dark-text-svg-color;
            font-size: 42px;
        }
        
        .benefits__description {
            @include font($font-Open-Sans, $text-color-4, 400, 18px, 1.66, 0.02);
            
        }

        .benefits__flex-content {
            display: flex;
            gap: 30px;
        }
        
        .benefits__deco-box-1 {
            display: flex;
            flex-direction: column;
            gap: 30px;
            padding-bottom: 35px;
        }

        .benefits__deco-box-2 {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-top: 35px;
        }
        
        .benefits__deco-item {
            width: 193px;
            height: 133px;
            text-align: center;
            padding-top: 20px;
            background-color: $background-color-2;
        }

        .benefits_amount-box {
            position: relative;
            display: flex;
            justify-self: center;
            padding-right: 15px;
        }
        
        .benefits__deco-amount {
            @include font($font-Open-Sans, $dark-text-svg-color, 700, 42px, 1.36, 0.05);
        }
        
        .benefits__plus-svg {
            position: absolute;
            right: 0;
            top: 13px;
        }

        .benefits__deco-text {
            display: block;
            width: 122px;
            margin: 0 auto;
            @include font($font-Open-Sans, $dark-text-svg-color, 600, 11px, 1.36, null);
        }
    }
}