.footer {
    @include desktop {
        // height: 0;
    }

    .footer__content-box {
        max-width: 480px;
        height: 138px;
        margin: 0 auto;
        padding: 44px 31px;
        display: flex;
        justify-content: space-between;
        @include tablet {
            max-width: 768px;
            padding: 56px 39px;
        }
        @include desktop {
            max-width: 1170px;
            padding: 56px 0;
        }
    }

    .footer__copyright {
        @include font($font-Open-Sans, $text-color-3, 600, 11px, 1.36, 1.5px);
        align-self: self-end;
        display: block;
        min-width: 130px;
        @include tablet {
            align-self: center;
        }
    }

    .footer__social-links-box {
        display: flex;
        flex-wrap: wrap;
        row-gap: 20px;
        justify-content: end;
        margin-bottom: 35px;
        @include tablet {
            align-self: center;
            margin: 0;
        }
    }

    .footer__deco-line {
        display: inline-block;
        align-self: center;
        contain: content;
        content: ' ';
        background-color: $dark-text-svg-color;
        width: 60px;
        height: 1px;
        margin-left: 0;
    }
    
    .footer__link {
        @include font($font-Open-Sans, $dark-text-svg-color, 600, 11px, 1.36, 2px);
        margin-left: 40px;
        &:hover,
        &:focus {
            color: $accent-color-orange;
        }
    }
}