.header {
    position: absolute;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 40px;
    width: 100%;
    .header-container{
        max-width: 420px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    }
    .open-mobile-svg {
        width: 40px;
        height: 40px;
        align-self: center;
    }
}