.hero {
    background-image: url('../src/images/Hero-mobile-1x.jpg');
    height: 580px;
    display: flex;
    align-items: center;
    padding-left: 30px;

    .hero-content-box {
        width: 320px;
        color: #fff;
    }
}