.prices {
    background: url(../src/images/Prices-big.jpeg);

    .prices__content-box {

        
        .prices__subtitle {}
        
        .prices__title {}
        
        .prices__services {
            background-color: $background-color-gradient;
            padding-top: 30px;
            padding-bottom: 30px;
            padding-left: 40px;
            padding-right: 20px;
        }
        .prices__services-item {
            display: flex;
            width: 100%;

                .prices__service-name {}
                
                .prices__service-price {}
            }
        
        .prices__button {
            color: $text-color-2;
        }
    }
}