<section class="about">
  <div class="about__content-box">
    <h3 class="about__subtitle">ABOUT</h3>
    <h2 class="about__title">Best Barbershop in your city</h2>
    <p class="about__text-1">
      If you want to add more confidence to your image, you should visit us
    </p>
    <p class="about__description">
      We are a team that never stops at what has been achieved and are thirsty
      for changes. And when you fall into the hands of our master, you will
      never be the same again. We are a team that is always "on the same wave"
      with clients. Therefore, we are always ready to improve everyone who comes
      to us!
    </p>
    <button class="about__button" type="button">ONLINE-BOOKING</button>
  </div>
</section>
