<section class="barbers" id="barbers">
  <div class="barbers__content-box">
    <h3 class="barbers__subtitle">FOR TRUE ENJOYERS OF THE ATMOSPHERE</h3>
    <h2 class="barbers__title">Our barbers</h2>
    <ul class="barbers__person-list">
      <li class="barbers__person-item">
        <picture class="barbers__person-photo">
          <source
            srcset="./images/Barber-John-desktop.jpg"
            media="(min-width:1170px)"
          />
          <source
            srcset="./images/Barber-John-tablet-1x.jpg"
            media="(min-width:768px)"
          />
          <img src="./images/Barber-John-mobile-1x.jpg" alt="John Smith" />
        </picture>
        <p class="barbers__person-name">John Smith</p>
        <p class="barbers__person-position">Extreme Barber</p>
        <div class="barbers__social-links">
          <a class="barbers__link" href="">
            <svg class="barbers__link-svg" width="20px" height="20px">
              <use href="./images/symbol-defs.svg#icon-instagram"></use>
            </svg>
          </a>
          <a class="barbers__link" href="">
            <svg class="barbers__link-svg" width="20px" height="20px">
              <use href="./images/symbol-defs.svg#icon-twitter"></use>
            </svg>
          </a>
          <a class="barbers__link" href="">
            <svg class="barbers__link-svg" width="20px" height="20px">
              <use href="./images/symbol-defs.svg#icon-facebook"></use>
            </svg>
          </a>
          <a class="barbers__link" href="">
            <svg class="barbers__link-svg" width="20px" height="20px">
              <use href="./images/symbol-defs.svg#icon-linkedin"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="barbers__person-item">
        <picture class="barbers__person-photo">
          <source
            srcset="./images/Barber-Michele-desktop.jpg"
            media="(min-width:1170px)"
          />
          <source
            srcset="./images/Barber-Michele-tablet-1x.jpg"
            media="(min-width:768px)"
          />
          <img src="./images/Barber-Michele-mobile-1x.jpg" alt="" />
        </picture>
        <p class="barbers__person-name">Michele Doe</p>
        <p class="barbers__person-position">Extreme Barber</p>
        <div class="barbers__social-links">
          <a class="barbers__link" href="">
            <svg class="barbers__link-svg" width="20px" height="20px">
              <use href="./images/symbol-defs.svg#icon-instagram"></use>
            </svg>
          </a>
          <a class="barbers__link" href="">
            <svg class="barbers__link-svg" width="20px" height="20px">
              <use href="./images/symbol-defs.svg#icon-twitter"></use>
            </svg>
          </a>
          <a class="barbers__link" href="">
            <svg class="barbers__link-svg" width="20px" height="20px">
              <use href="./images/symbol-defs.svg#icon-facebook"></use>
            </svg>
          </a>
          <a class="barbers__link" href="">
            <svg class="barbers__link-svg" width="20px" height="20px">
              <use href="./images/symbol-defs.svg#icon-linkedin"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="barbers__person-item">
        <picture class="barbers__person-photo">
          <source
            srcset="./images/Barber-Alan-desktop.jpg"
            media="(min-width:1170px)"
          />
          <source
            srcset="./images/Barber-Alan-tablet-1x.jpg"
            media="(min-width:768px)"
          />
          <img src="./images/Barber-Alan-mobile-1x.jpg" alt="" />
        </picture>
        <p class="barbers__person-name">Alan Black</p>
        <p class="barbers__person-position">Extreme Barber</p>
        <div class="barbers__social-links">
          <a class="barbers__link" href="">
            <svg class="barbers__link-svg" width="20px" height="20px">
              <use href="./images/symbol-defs.svg#icon-instagram"></use>
            </svg>
          </a>
          <a class="barbers__link" href="">
            <svg class="barbers__link-svg" width="20px" height="20px">
              <use href="./images/symbol-defs.svg#icon-twitter"></use>
            </svg>
          </a>
          <a class="barbers__link" href="">
            <svg class="barbers__link-svg" width="20px" height="20px">
              <use href="./images/symbol-defs.svg#icon-facebook"></use>
            </svg>
          </a>
          <a class="barbers__link" href="">
            <svg class="barbers__link-svg" width="20px" height="20px">
              <use href="./images/symbol-defs.svg#icon-linkedin"></use>
            </svg>
          </a>
        </div>
      </li>
    </ul>
  </div>
</section>
