<section class="barbers">
  <div class="barbers__content-box">
    <h3 class="barbers__subtitle">FOR TRUE ENJOYERS OF THE ATMOSPHERE</h3>
    <h2 class="barbers__title">Our barbers</h2>
    <ul class="barbers__person-list">
      <li class="barbers__person-item">
        <img
          class="barbers__person-photo"
          src="./images/Barber-John-mobile-1x1.jpg"
          alt="John Smith"
        />
        <p class="barbers__person-name">John Smith</p>
        <p class="barbers__person-position">Extreme Barber</p>
        <div class="barbers__social-links">
          <a class="barbers__link" href="">
            <svg class="barbers__link-svg" width="20px" height="20px">
              <use href="./images/symbol-defs.svg#icon-instagram"></use>
            </svg>
          </a>
          <a class="barbers__link" href="">
            <svg class="barbers__link-svg" width="20px" height="20px">
              <use href="./images/symbol-defs.svg#icon-twitter"></use>
            </svg>
          </a>
          <a class="barbers__link" href="">
            <svg class="barbers__link-svg" width="20px" height="20px">
              <use href="./images/symbol-defs.svg#icon-facebook"></use>
            </svg>
          </a>
          <a class="barbers__link" href="">
            <svg class="barbers__link-svg" width="20px" height="20px">
              <use href="./images/symbol-defs.svg#icon-linkedin"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="barbers__person-item">
        <img
          class="barbers__person-photo"
          src="./images/Barber-Michele-mobile-1x.jpg"
          alt=""
        />
        <p class="barbers__person-name">Michele Doe</p>
        <p class="barbers__person-position">Extreme Barber</p>
        <div class="barbers__social-links">
          <a class="barbers__link" href="">
            <svg class="barbers__link-svg" width="20px" height="20px">
              <use href="./images/symbol-defs.svg#icon-instagram"></use>
            </svg>
          </a>
          <a class="barbers__link" href="">
            <svg class="barbers__link-svg" width="20px" height="20px">
              <use href="./images/symbol-defs.svg#icon-twitter"></use>
            </svg>
          </a>
          <a class="barbers__link" href="">
            <svg class="barbers__link-svg" width="20px" height="20px">
              <use href="./images/symbol-defs.svg#icon-facebook"></use>
            </svg>
          </a>
          <a class="barbers__link" href="">
            <svg class="barbers__link-svg" width="20px" height="20px">
              <use href="./images/symbol-defs.svg#icon-linkedin"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="barbers__person-item">
        <img
          class="barbers__person-photo"
          src="./images/Barber-Alan-mobile-1x.jpg"
          alt=""
        />
        <p class="barbers__person-name">Alan Black</p>
        <p class="barbers__person-position">Extreme Barber</p>
        <div class="barbers__social-links">
          <a class="barbers__link" href="">
            <svg class="barbers__link-svg" width="20px" height="20px">
              <use href="./images/symbol-defs.svg#icon-instagram"></use>
            </svg>
          </a>
          <a class="barbers__link" href="">
            <svg class="barbers__link-svg" width="20px" height="20px">
              <use href="./images/symbol-defs.svg#icon-twitter"></use>
            </svg>
          </a>
          <a class="barbers__link" href="">
            <svg class="barbers__link-svg" width="20px" height="20px">
              <use href="./images/symbol-defs.svg#icon-facebook"></use>
            </svg>
          </a>
          <a class="barbers__link" href="">
            <svg class="barbers__link-svg" width="20px" height="20px">
              <use href="./images/symbol-defs.svg#icon-linkedin"></use>
            </svg>
          </a>
        </div>
      </li>
    </ul>
  </div>
</section>
