<section class="barbers">
  <div class="barbers__content-box">
    <h3 class="barbers__subtitle">FOR TRUE ENJOYERS OF THE ATMOSPHERE</h3>
    <h2 class="barbers__title">Our barbers</h2>
    <ul class="barbers__person-list">
      <li class="barbers__person-item">
        <p class="barbers__person-name"></p>
        <p class="barbers__person-position"></p>
        <div class="barbers__social-links">
          <a class="barbers__link" href=""><img src="" alt="" /></a>
          <a class="barbers__link" href=""><img src="" alt="" /></a>
          <a class="barbers__link" href=""><img src="" alt="" /></a>
          <a class="barbers__link" href=""><img src="" alt="" /></a>
        </div>
      </li>
      <li class="barbers__person-item">
        <p class="barbers__person-name"></p>
        <p class="barbers__person-position"></p>
        <div class="barbers__social-links">
          <a class="barbers__link" href=""><img src="" alt="" /></a>
          <a class="barbers__link" href=""><img src="" alt="" /></a>
          <a class="barbers__link" href=""><img src="" alt="" /></a>
          <a class="barbers__link" href=""><img src="" alt="" /></a>
        </div>
      </li>
      <li class="barbers__person-item">
        <p class="barbers__person-name"></p>
        <p class="barbers__person-position"></p>
        <div class="barbers__social-links">
          <a class="barbers__link" href=""><img src="" alt="" /></a>
          <a class="barbers__link" href=""><img src="" alt="" /></a>
          <a class="barbers__link" href=""><img src="" alt="" /></a>
          <a class="barbers__link" href=""><img src="" alt="" /></a>
        </div>
      </li>
    </ul>
  </div>
</section>
