<section class="benefits">
  <div class="benefits__content-box">
    <div class="benefits__text-content">
      <h3 class="benefits__subtitle">OLD TRADITIONAL SCHOOL</h3>
      <h2 class="benefits__title">¿Why people come </br> to us?</h2>
      <p class="benefits__description">
        Only good things are said about us. But it's better to see and feel 1
        time than read 10 times.
      </p>
    </div>
    <div class="benefits__flex-content">
      <ul class="benefits__deco-box-1">
        <li class="benefits__deco-item">
          <div class="benefits_amount-box">
            <p class="benefits__deco-amount">600</p>
            <svg class="benefits__plus-svg" width="13px" height="22px">
              <use href="./images/symbol-defs.svg#icon-plus"></use>
            </svg>
          </div>
          <p class="benefits__deco-text">Satisfied customers per day</p>
        </li>
        <li class="benefits__deco-item">
          <div class="benefits_amount-box">
            <p class="benefits__deco-amount">20</p>
            <svg class="benefits__plus-svg" width="13px" height="22px">
              <use href="./images/symbol-defs.svg#icon-plus"></use>
            </svg>
          </div>
          <p class="benefits__deco-text">Kyiv’s best barbers</p>
        </li>
      </ul>
      <ul class="benefits__deco-box-2">
        <li class="benefits__deco-item">
          <div class="benefits_amount-box">
            <p class="benefits__deco-amount">50</p>
            <svg class="benefits__plus-svg" width="13px" height="22px">
              <use href="./images/symbol-defs.svg#icon-plus"></use>
            </svg>
          </div>
          <p class="benefits__deco-text">Awards for excellent service</p>
        </li>
        <li class="benefits__deco-item">
          <div class="benefits_amount-box">
            <p class="benefits__deco-amount">100</p>
            <svg class="benefits__plus-svg" width="13px" height="22px">
              <use href="./images/symbol-defs.svg#icon-plus"></use>
            </svg>
          </div>
          <p class="benefits__deco-text">Gifts for regular customers</p>
        </li>
      </ul>
    </div>
  </div>
</section>
