<section class="booking">
  <div class="booking__content-box">
    <h2 class="booking__title">Online-booking</h2>
    <form class="booking__form">
      <div class="booking__item">
        <input
          type="text"
          placeholder="NAME*"
          id="name-input"
          required
          class="booking__input"
        />
      </div>
      <div class="booking__item">
        <input
          type="phone"
          placeholder="PHONE*"
          id="phone-input"
          required
          class="booking__input"
        />
      </div>
      <div class="booking__item">
        <textarea
          type="text"
          placeholder="MESSAGE"
          id="message-input"
          class="booking__textarea"
        ></textarea>
      </div>
      <button class="booking__form-button">SEND</button>
    </form>
  </div>
</section>
