<section class="contacts">
  <picture class="contacts__picture">
    <source
      srcset="./images/Contacts-background-desktop.jpeg"
      media="(min-width:1170px)"
    />
    <source
      srcset="./images/Contacts-background-tablet.jpeg"
      media="(min-width:768px)"
    />
    <img
      class="contacts__background-img"
      src="./images/Contacts-background-mobile.jpeg"
      alt=""
    />
  </picture>
  <h2 class="contacts__title">Contacts</h2>
  <div class="contakts__content-box">
    <div class="contacts__list">
      <a
        href="https://www.google.com/maps/search/st.+Vasilkovaya,+7A+Kiev,+08132/@50.381208,30.2868444,12z/data=!3m1!4b1?authuser=0&entry=ttu&g_ep=EgoyMDI0MTIxMS4wIKXMDSoASAFQAw%3D%3D"
        target="_blank"
        rel="noreferrer noopener"
        class="contacts__address-link address-location"
      >
        <svg class="contacts__address-svg" width="24px" height="24px">
          <use href="./images/symbol-defs.svg#icon-map-pin"></use>
        </svg>
        st. Vasilkovaya, 7A
        <span class="contacts__address-span">Kiev, 08132</span>
      </a>
      <a href="tel:+380991111111" class="contacts__address-link phone-link">
        <svg class="contacts__address-svg" width="24px" height="24px">
          <use href="./images/symbol-defs.svg#icon-phone"></use>
        </svg>
        +38 044 111 11 11</a
      >
      <a
        href="mailto:barbershop@email.com"
        class="contacts__address-link mail-link"
      >
        <svg class="contacts__address-svg" width="24px" height="24px">
          <use href="./images/symbol-defs.svg#icon-mail"></use>
        </svg>
        barbershop@email.com</a
      >
    </div>
    <div class="contacts__time-info-box">
      <h3 class="contacts__subtitle">WORKING HOURS</h3>
      <p class="contacts__working-hours">Every day from 9:00 to 22:00</p>
    </div>
  </div>
</section>
