<section class="gallery">
  <div class="gallery__content-box">
    <h3 class="gallery__subtitle">IN LATIN, "BARBA" MEANS "BEARD"</h3>
    <ul class="gallery__list">
      <li class="gallery__item">
        <img src="./images/Gallery1-mobile-1x.jpg" alt="" />
      </li>
      <li class="gallery__item">
        <img src="./images/Gallery2-mobile-1x.jpg" alt="" />
      </li>
      <li class="gallery__item">
        <img src="./images/Gallery3-mobile-1x.jpg" alt="" />
      </li>
      <li class="gallery__item">
        <img src="./images/Gallery4-mobile-1x.jpg" alt="" />
      </li>
    </ul>
  </div>
</section>
