<section class="gallery">
  <div class="gallery__content-box">
    <h3 class="gallery__subtitle">IN LATIN, "BARBA" MEANS "BEARD"</h3>
    <ul class="gallery__list">
      <li class="gallery__item">
        <picture>
          <source
            srcset="./images/Gallery1-tablet-1x.jpg"
            media="(min-width:768px)"
          />
          <img src="./images/Gallery1-mobile-1x.jpg" alt="" />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="./images/Gallery2-tablet-1x.jpg"
            media="(min-width:768px)"
          />
          <img src="./images/Gallery2-mobile-1x.jpg" alt="" />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="./images/Gallery3-tablet-1x.jpg"
            media="(min-width:768px)"
          />
          <img src="./images/Gallery3-mobile-1x.jpg" alt="" />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="./images/Gallery4-tablet-1x.jpg"
            media="(min-width:768px)"
          />
          <img src="./images/Gallery4-mobile-1x.jpg" alt="" />
        </picture>
      </li>
    </ul>
  </div>
</section>
