<header class="header">
  <div class="header__container">
    <a class="header__logo-link" href="./index.html">
      <picture class="header__logo-img" width="68px" height="56px">
        <source srcset="./images/Logo-tablet.png" media="(min-width:768px)" />
        <img src="./images/Logo-mobile.png" alt="logo" />
      </picture>
    </a>
    <button type="button" class="mobile-button js-open-menu">
      <svg class="header__open-mobile-svg">
        <use href="./images/symbol-defs.svg#icon-mobile-menu"></use>
      </svg>
    </button>
    <div class="header__nav-box">
      <div class="header__nav-list">
        <a class="header__nav-link" href="#about">About</a>
        <a class="header__nav-link" href="#prices">Services and prices</a>
        <a class="header__nav-link" href="#barbers">Barbers</a>
        <a class="header__nav-link" href="#contacts">Contacts</a>
      </div>
      <div class="header__contacts-box">
        <button class="header__button" data-modal-open1>ONLINE-BOOKING</button>
        <a class="header__phone-link" href="tel:+380441111111"
          >+38 044 111 11 11</a
        >
      </div>
    </div>
  </div>
</header>
