<section class="hero">
  <div class="hero__sidebar">
    <div class="hero__sidebar-content-box">
      <div class="hero__sidebar-deco-line"></div>
      <a class="hero__sidebar-link" href="https://www.instagram.com/"
        >Instagram</a
      >
      <a class="hero__sidebar-link" href="https://www.youtube.com/">Youtube</a>
    </div>
  </div>
  <div class="hero__content-box">
    <div class="hero__text-content-box">
      <h3 class="hero__subtitle">A HAIR SALON FOR MEN IN KYIV</h3>
      <h1 class="hero__title">BarberShop</h1>
      <p class="hero__text">
        We are experts in trendy men’s haircuts. We work quickly, carefully and
        with style.
      </p>
    </div>
  </div>
</section>
