<div class="mobile-menu__container js-menu-container" id="mobile-menu">
  <div class="mobile-menu__content-box">
    <button class="mobile-button js-close-menu">
      <svg class="mobile-menu__close-svg" width="40px" height="40px">
        <use href="./images/symbol-defs.svg#icon-close-mobile"></use>
      </svg>
    </button>
    <div class="mobile-menu__nav-links-box">
      <a class="mobile-menu__nav-link" href="">About</a>
      <a class="mobile-menu__nav-link" href="">Services and prices</a>
      <a class="mobile-menu__nav-link" href="">Barbers</a>
      <a class="mobile-menu__nav-link" href="">Contacts</a>
    </div>
    <a class="mobile-menu__phone-link" href="tel:+380441111111"
      >+38 044 111 11 11</a
    >
    <button class="mobile-menu__button">ONLINE-BOOKING</button>
    <div class="mobile-menu__social-links-box">
      <span class="mobile-menu__deco-line"></span>
      <div class="mobile-menu__social-links">
        <a class="mobile-menu__link" href="">Instagram</a>
        <a class="mobile-menu__link" href="">Youtube</a>
      </div>
    </div>
  </div>
</div>
