<section class="prices">
  <div class="prices__content-box">
    <h3 class="prices__subtitle">SPEND YOUR TIME WITH THE BEST MASTERS</h3>
    <h2 class="prices__title">Services and prices</h2>
    <ul class="prices__services">
      <li class="prices__services-item">
        <p class="prices__service-name"></p>
        <p class="prices__service-price"></p>
      </li>
      <li class="prices__services-item">
        <p class="prices__service-name"></p>
        <p class="prices__service-price"></p>
      </li>
      <li class="prices__services-item">
        <p class="prices__service-name"></p>
        <p class="prices__service-price"></p>
      </li>
      <li class="prices__services-item">
        <p class="prices__service-name"></p>
        <p class="prices__service-price"></p>
      </li>
      <li class="prices__services-item">
        <p class="prices__service-name"></p>
        <p class="prices__service-price"></p>
      </li>
      <li class="prices__services-item">
        <p class="prices__service-name"></p>
        <p class="prices__service-price"></p>
      </li>
      <li class="prices__services-item">
        <p class="prices__service-name"></p>
        <p class="prices__service-price"></p>
      </li>
      <li class="prices__services-item">
        <p class="prices__service-name"></p>
        <p class="prices__service-price"></p>
      </li>
    </ul>
    <button class="prices__button" type="button">ONLINE-BOOKING</button>
  </div>
</section>
